.select-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 0.7em;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px;
  margin: 6px 0;
}

thead tr {
  background-color: #2C9FA3;
  color: #FFFFFF;
}

th, td {
  padding: 10px 15px;
}

tbody tr {
  border-bottom: 1px solid #DDDDDD;
  box-sizing: border-box;
}

tbody tr:nth-of-type(even) {
  background-color: #F3F3F3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #2C9FA3;
}

.info-input {
  margin-bottom: 16px;
  text-align: center;
  padding: 4px;
}

@media (max-width: 1050px) {

  .container {
    margin: 0 20px;
  }
}