.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
}

.select-button {
  border-bottom: 1px solid #010300;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

thead tr {
  background-color: #BBDEC6;
  border-left: 2px solid #BBDEC6;
  border-right: 2px solid #BBDEC6;
}

th, td {
  padding: 10px 15px;
}

tbody tr {
  border-bottom: 1px solid #DDDDDD;
  border-left: 2px solid #BBDEC6;
  border-right: 2px solid #BBDEC6;
  box-sizing: border-box;
}

tbody tr:nth-of-type(even) {
  background-color: #F3F3F3;
}

tbody tr:last-of-type {
  border-bottom: none;
}

.info-input {
  margin-bottom: 16px;
  text-align: center;
  padding: 4px;
}

@media (max-width: 1050px) {

  .container {
    margin: 0 20px;
  }
}