#select-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.select-button {
  border-bottom: 1px solid #010300;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

thead tr {
  background-color: #BBDEC6;
  border-left: 2px solid #BBDEC6;
  border-right: 2px solid #BBDEC6;
}

.thead-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thead-icon {
  margin-left: 2px;
}

th, td {
  padding: 10px 15px;
}

tbody tr {
  border-bottom: 1px solid #DDDDDD;
  border-left: 2px solid #BBDEC6;
  border-right: 2px solid #BBDEC6;
  box-sizing: border-box;
}

tbody tr:nth-of-type(even) {
  background-color: #F3F3F3;
}

tbody tr:last-of-type {
  border-bottom: none;
}

#record-button {
  font-size: 1em;
  padding: 10px;
  width: 100%;
  border-radius: 0 0 6px 6px;
}

@media (max-width: 1050px) {

  .container {
    margin: 0 20px;
  }
}