:root {
  --dark-text: #010300;
  --light-text: #F7F8FC;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark-text);
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-button {
  border-bottom: 2px solid #010300;
  padding: 8px;
  font-size: 0.8em;
}

#delete-button {
  background: linear-gradient(to right, #DC3545, #AF212F);
  font-weight: normal;
  border-radius: 6px;
  overflow: hidden;
}

#delete-button-text {
  margin: 0 6px;
  color: var(--light-text);
}

#delete-button-logo {
  padding: 6px 4px;
  background-color: #AF212F;
}