:root {
  --dark-text: #010300;
  --light-text: #F7F8FC;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark-text);
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* BUTTON */

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.success-button {
  background-color: #314C53;
  color: var(--light-text);
  transition: background-color 500ms;
}

.success-button:hover {
  background-color: #26464E;
}

#homepage-button {
  border-bottom: 2px solid #010300;
  padding: 8px;
  font-size: 0.8em;
}

#delete-button {
  background-color: #DC3545;
  color: var(--light-text);
  padding: 5px;
  border-radius: 6px;
  font-weight: normal;
}

/* A */

a {
  text-decoration: none;
}