:root {
  --dark-text: #010300;
  --light-text: #F7F8FC;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark-text);
}

body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

/* BUTTON */

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.success-button {
  background-color: #314C53;
  color: var(--light-text);
  transition: background-color 500ms;
}

.success-button:hover {
  background-color: #26464E;
}

/* A */

a {
  text-decoration: none;
}

label {
  font-size: 0.8em;
  margin-bottom: 2px;
}